@import "vars";

@media(max-width: 1250px) {
  .category_menu{
    .search_wrap{
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

@media(max-width: 1200px) {
  header .top-nav li:not(:last-child){
    padding-right: 25px;
  }
  header .top-nav li:not(:first-child){
    padding-left: 25px;
  }
  .content_wrap{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}


@media(max-width: 960px){

  .tm-basket-body{
    tr{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
    }
    td{
      // display: block;
      width: 100%!important;
      &:last-child{
        text-align: left!important;
      }
    }
    th{
      display: none;
    }
  }

  .category_menu{
    .sub_menu{
      margin-bottom: 30px;
    }
    >.uk-flex{
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      .sub_menu{
        max-width: 100%;
        overflow-y: none;
        text-align: center;
        ul{
          -webkit-overflow-scrolling: touch; /* apply iOS momentum scrolling effect to this element */
          display: inline-block;
          max-width: 100%;
          overflow: auto;
          height: 35px;
          white-space: nowrap
        }
      }
  	}
  }

  .full{
    > div > .uk-grid-margin{
      margin-top: 0;
    }
  }


  .slider-card{
    > div.uk-container-expand{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .uk-modal-dialog{
    padding: 50px 30px!important;
  }
  .logo-wrap, .login{
    position: relative;
    z-index: 1100;
  }

  .effect-9:focus{
  	width: 235px;
  }

  .sub_menu{
    width: 100%;
  }
  .custom-select{
    margin-top: 20px;
  }
  .top-nav{
    height: 0;
    overflow: hidden;
    position: absolute;
    width: calc(100vw - 70px);
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba($accent, .95);
    transition: all .5s ease;
    &.menu-active{
      height: 100vh;
    }
    .user-area{
      .login{
        text-align: right;
        margin-top: 40px;
      }
      a{
        font-size: 25px!important;
      }
    }
    nav{
      width: 100%;
      padding-top: 150px;
      text-align: right;
      display: block;
      ul li{
        display: block;
        padding-left: 0;
        padding-right: 0;
        a{
          font-size: 40px;
        }
      }
    }
    .lang-nav{
      nav{
        padding-top: 50px;
        ul li{
          display: inline-block;
          padding: 0 10px;
        }
      }
    }
  }
  header .top-nav li:not(:last-child){
    padding-right: 0;
  }
  header .top-nav li:not(:first-child){
    padding-left: 0;
  }

  .content{
    max-width: 100%;
  }

  .content_wrap{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .full{
  	&:not(:first-of-type){
  		.article_img_wrap{
  			padding-top: 50px;
  		}
  	}
    &.product{
      + .section_base{
        padding-top: 0;
        padding-bottom: 50px;
      }
      > div > div:nth-child(2){
        margin-top: 0!important;
      }
      .custom-select{
        margin-top: 0px;
        font-size: 14px;
      }
      .scale_img{
        overflow-x: scroll;
        overflow-y: hidden;
        height: 300px;
        position: relative;
        img{
          width: 300%;
          max-width: none;
          position: absolute;
          top: 50%;
          float: right;
          transform: translateY(-50%);
        }
      }
    }
  }

}

@media(max-width: 800px){

  .category_short_name{
    font-size: 24px;
  }
  .big_category.big_grid{
    padding-top: 100%;
  }
  .cart_method_foot{
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }
  footer{
     .uk-flex-wrap{

     }
  }
}

@media(max-width: 640px){

  .form_column{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div{
      &:first-child{
        margin-right: 0;
      }
      &:last-child{
        margin-left: 0;
      }
    }

  }

  .basket{
    flex-direction: column;
    .tm-basket-content-wrap{
      padding-bottom: 40px;
    }
    .tm-basket-head, .tm-total-end{
      padding-top: 20px;
    }
    .basket-right-panel{
      width: 100%;
      .basket-right-content{
        max-width: 100%;
      }
    }
  }

  .sub_menu{
    ul li{
      height: 100%;
    }
  }

  .filter-controls-wrap{
    width: 100%;
    .tm-button{
      max-width: 100%;
      width: calc(100% - 30px);
      padding-left: 15px;
      padding-right: 15px;
    }
    .cancel-filtered{
      margin-top: 10px;
      width: 100%;
    }
  }

  header .top-nav li:not(:last-child){
    margin-bottom: 10px;
    a:not(.card_short):after{
      bottom: -5px;
    }
  }

  .copyright{
    text-align: center;
    right: 0;
  }

  .description{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slider-card{
    > div.uk-container-expand{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .uk-offcanvas-bar{
    width: 100%;
  }
  .top-nav nav{
    padding-top: 115px;
  }
  .top-nav nav ul li a{
    font-size: 25px;
  }
  .head_1, h1{
    font-size: 28px;
  }
  .section_head, h2{
    font-size: 24px;
    margin-bottom: 70px!important;
  }
  header .logo-wrap img{
    width: 120px;
  }
  header{
    height: 70px;
    left: 15px;
    top: 15px;
    width: calc(100% - 30px);
  }
  .footer-item{
    width: 50%;
    margin-bottom: 30px;
    &:nth-child(odd){
      text-align: right;
    }
  }
  .basket-right-panel{
    padding-top: 40px;
    padding-bottom: 40px;
    .tm-basket-total{
      padding-top: 0;
    }
  }
  .sub_menu ul li:not(:last-child){
    margin-right: 20px;
  }
  .sub_menu ul li:not(:first-child){
    margin-left: 20px;
  }
  .head_category{
    padding-top: 110px;
  }
  .content_wrap{
    padding-left: 15px;
    padding-right: 15px;
  }
  .article_img_wrap img:not(:last-child){
    margin-bottom: 25px;
  }
  .article_img_wrap{
    margin-top: 85px;
    padding-top: 40px;
    padding-bottom: 40px;
    &.scale_img{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}

@media(max-width: 440px){
  .basket .tm-basket-content{
    padding-left: 15px;
    padding-right: 15px;
  }

  .tm-basket-body table tbody tr td .custom_number{
    min-width: 140px;
  }

  .tm-basket-body{
    td{
      text-align: center;
      &:nth-child(2){
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
      }
      &:last-child{
        text-align: center!important;
      }
    }
  }


  header .user-area {
    margin-left: 0;
    .basket_count{
      margin-left: 0;
    }
  }
  .tm-basket-item{
    flex-wrap: wrap;
    .tm-basket-img-wrap{
      margin-right: 0;
      margin-bottom: 20px;
    }
    > div{
      width: 100%;
    }
  }
  .tm-basket-footer{
    flex-wrap: wrap;
    > .tm-button {
      flex: auto;
      width: 100%;
      display: block;
      margin-right: 0!important;
      margin-left: 0!important;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
  .input_animation{
    width: 100%;
  }
  .effect-9{
    width: 100%;
  }
  .effect-9 ~ .focus-border:before,
  .effect-9 ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
  .effect-9 ~ .focus-border:after{transition-delay: 0.2s;}
  .effect-9 ~ .focus-border i:before,
  .effect-9 ~ .focus-border i:after{height: 100%; transition: 0.2s;}
  .effect-9 ~ .focus-border i:after{transition-delay: 0.4s;}

  .category_menu{
    > .uk-flex{
      width: 100%;
      .sub_menu{
        width: 100%;
      }
    }
  }
  .select_dropdown{
    ul li{
      width: calc(100% - 2px);
    }
  }
}
